html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}
input::-webkit-input-placeholder{
    color:#77B6BE ;
}
#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('./img/bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#login-wrapper {
    width: 38%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 31%;
    padding-top: 2%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
#auto-login {
    margin-left: -17%;
}
#user-name,#password{
    box-sizing: border-box;
    width: 40%;
    height: 27px;
    margin: 10px auto;
    padding-left: 30px;
    padding-top: 1.5%;
    padding-bottom: 1.65%;
    display: block;
    border: none;
    border-radius: 5px;
}
#inputgrp > div {
    position: relative;
}
#user-icon,#pw-icon{
    width: 24px;
    display: block;
    position: absolute;
    top: 5%;
    left: 30.5%;
}
#title {
    text-align: center;
    color: #54B3C0;
    text-shadow: 1px 1px 1px white;
}

#login-btn {
    display: block;
    margin: 15px auto;
    width: 40%;
    padding: 5px;
    background-color: #54B3C0;
    color: white;
    border: none;
    border-radius: 10px;
}

.tips{
    display: none;
    width: 40%;
    font-size: 12px;
    color: #921111;
    margin: 0 auto;
    text-align: left;
}
